absl-py==2.2.1
accelerate==1.5.2
aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
aix360==0.3.0
alembic==1.14.0
altair==5.5.0
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.8.0
appdirs==1.4.4
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astor==0.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==5.0.1
attrs==24.3.0
Authlib==1.4.1
av==14.2.0
azure-ai-documentintelligence==1.0.0
azure-core==1.32.0
azure-identity==1.20.0
azure-storage-blob==12.24.1
babel==2.17.0
backoff==2.2.1
base58==2.1.1
bcrypt==4.3.0
beautifulsoup4==4.13.3
bidict==0.23.1
bitarray==3.2.0
black==25.1.0
bleach==6.2.0
blinker==1.9.0
boto3==1.35.53
botocore==1.35.99
build==1.2.2.post1
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.6.2
clarabel==0.10.0
click==8.1.8
colbert-ai==0.2.21
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
comm==0.2.2
compressed_rtf==1.0.6
contourpy==1.3.1
cryptography==44.0.2
ctranslate2==4.5.0
cvxpy==1.6.4
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.4.1
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
dill==0.3.8
distlib==0.3.9
distro==1.9.0
Django==5.1.5
dnspython==2.7.0
docker==7.1.0
docx2txt==0.8
duckduckgo_search==7.3.2
durationpy==0.9
easygui==0.98.3
ebcdic==1.1.1
ecdsa==0.19.1
ecos==2.0.14
einops==0.8.0
elastic-transport==8.17.1
elasticsearch==8.17.1
emoji==2.14.1
enum-compat==0.0.3
et_xmlfile==2.0.0
eval_type_backport==0.2.2
Events==0.5
executing==2.2.0
extract-msg==0.54.0
fake-useragent==1.5.1
fastapi==0.115.7
faster-whisper==1.1.1
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.16.1
filetype==1.2.0
firecrawl-py==1.12.0
Flask==3.1.0
flatbuffers==24.12.23
fonttools==4.56.0
fpdf2==2.8.2
fqdn==1.5.1
frozenlist==1.5.0
fs==2.4.16
fsspec==2024.12.0
ftfy==6.2.3
gast==0.6.0
gcp-storage-emulator==2024.8.3
git-python==1.0.3
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.6
google-api-core==2.24.2
google-api-python-client==2.165.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.3
google-cloud-storage==2.19.0
google-crc32c==1.7.0
google-generativeai==0.7.2
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
gradio==5.23.3
gradio_client==1.8.0
greenlet==3.1.1
groovy==0.1.2
grpcio==1.67.1
grpcio-status==1.62.3
grpcio-tools==1.62.3
h11==0.14.0
h2==4.2.0
h5py==3.13.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.1
humanfriendly==10.0
hyperframe==6.1.0
ibm-cos-sdk==2.13.6
ibm-cos-sdk-core==2.13.6
ibm-cos-sdk-s3transfer==2.13.6
ibm_watsonx_ai==1.2.1
idna==3.7
importlib_metadata==8.4.0
importlib_resources==6.5.2
iniconfig==2.1.0
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.5
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaleido==0.2.1
keras==3.9.2
kiwisolver==1.4.8
kubernetes==31.0.0
langchain==0.3.19
langchain-chroma==0.2.0
langchain-community==0.3.18
langchain-core==0.3.47
langchain-ibm==0.3.5
langchain-text-splitters==0.3.7
langdetect==1.0.9
langfuse==2.44.0
langsmith==0.2.10
lark==1.1.9
ldap3==2.9.1
libclang==18.1.1
loguru==0.7.2
lomond==0.3.3
lxml==5.3.1
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.1
ml_dtypes==0.5.1
mmh3==5.0.1
monotonic==1.6
moto==5.1.1
mpmath==1.3.0
msal==1.32.0
msal-extensions==1.3.1
msoffcrypto-tool==5.4.2
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==9.2.0
mysqlclient==2.2.7
namex==0.0.8
narwhals==1.33.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
nltk==3.9.1
notebook==7.3.2
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
oletools==0.60.2
onnxruntime==1.20.1
open-webui==0.5.20
openai==1.68.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opensearch-py==2.8.0
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
optree==0.15.0
orjson==3.10.14
osqp==1.0.0
overrides==7.7.0
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
pcodedmp==1.2.6
peewee==3.17.9
peewee-migrate==1.12.2
pgvector==0.3.5
pillow==11.1.0
pillow_heif==0.22.0
platformdirs==4.3.6
playwright==1.49.1
plotly==6.0.1
pluggy==1.5.0
portalocker==2.10.1
posthog==3.8.3
primp==0.14.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.26.1
protobuf==4.25.6
psutil==6.1.1
psycopg2-binary==2.9.9
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-partiql-parser==0.6.1
pyarrow==19.0.0
pyasn1==0.4.8
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
pyee==12.0.0
Pygments==2.19.1
PyJWT==2.10.1
pymdown-extensions==10.14.2
pymilvus==2.5.0
pymongo==4.11.3
PyMySQL==1.1.1
pypandoc==1.13
pyparsing==3.2.1
pypdf==4.3.1
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pytesseract==0.3.13
pytest==8.3.5
pytest-docker==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-iso639==2025.2.18
python-jose==3.4.0
python-json-logger==3.2.1
python-magic==0.4.27
python-multipart==0.0.18
python-oxmsg==0.0.2
python-pptx==1.0.0
python-socketio==5.11.3
pytube==15.0.0
pytz==2024.2
pywin32==308
pywinpty==2.0.15
pyxlsb==1.0.10
PyYAML==6.0.2
pyzmq==26.2.1
qdrant-client==1.12.2
rank-bm25==0.2.2
RapidFuzz==3.12.2
rapidocr-onnxruntime==1.3.24
razorpay==1.4.2
red-black-tree-mod==1.22
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.25.7
RestrictedPython==8.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
roboflow==1.1.61
rpds-py==0.22.3
rsa==4.9
RTFDE==0.1.2
ruff==0.11.2
s3transfer==0.10.4
safehttpx==0.1.6
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
scs==3.2.7.post2
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==3.3.1
sentencepiece==0.2.0
shapely==2.0.7
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.6
SQLAlchemy==2.0.38
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.41.3
streamlit==0.63.0
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.0.1
terminado==0.18.1
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.13.2
torch==2.6.0+cpu
torchaudio==2.6.0+cpu
torchvision==0.21.0+cpu
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.50.0
tsfm_public @ file:///C:/Users/rohid/tsfm
typer==0.15.1
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.3.1
ujson==5.10.0
ultralytics==8.3.107
ultralytics-thop==2.0.14
unstructured==0.16.17
unstructured-client==0.31.3
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.20
uvicorn==0.34.0
validators==0.34.0
virtualenv==20.29.0
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
win32_setctime==1.2.0
win_unicode_console==0.5
wrapt==1.17.2
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.2
xmltodict==0.14.2
xport==3.6.1
xxhash==3.5.0
yarl==1.18.3
youtube-transcript-api==0.6.3
zipp==3.21.0
